@using LMS.Core
@model LMS.Controllers.WayBillController.InStorageScanViewModel
@{
    ViewBag.Title = "FristInStorage";
    Html.AddScriptParts("/Scripts/My97DatePicker/WdatePicker.js");
}
@*<script type="text/javascript" src="@Url.Content("~/Scripts/print/LodopFuncs.js")"></script>
<div id="objectId">
    <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="0" height="0">
        <embed id="LODOP_EM" type="application/x-print-lodop" width="0" height="0"></embed>
    </object>
</div>*@
<div id="showCustomerList" tabindex="200" style="overflow: scroll; display: none; position: relative">
</div>
<div id="showShippingMethodList" style="overflow: scroll; display: none; position: relative">
</div>

<audio id="SuccessAudio">你的浏览器不支持播放声音，请升级
    <source src="/Css/Success.wav" type="audio/wav">
</audio>
<audio id="FaileAudio">
    <source src="/Css/Faile.wav" type="audio/wav"> 
</audio>

<div class="domebg" id="right_con">
    @*<span><a href="@Url.Content(sysConfig.)">运单退回扫描作业桌面版下载</a></span>*@
    
    <input type="hidden" id="wayBillInfoWeight" value="0"/>



    <table id="firsttable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr class="date_row_select">
            <td>
                <span class="info_box info_select">客户编码:</span>
                <input type="text" id="CustomerCode" readonly="readonly" class="txt txt_short" />
                <input type="text" id="nickName" class="txt txt_short" />
                <input type="button" id="selectCustomer" class="btn" value="选择" />
            </td>
        </tr>
        <tr class="date_row_select">
            <td>
                <span class="info_box info_select">运输方式:</span>
                <span id="ShippingMethodName"></span>
                <input type="hidden" id="WeightOrVolume" />
                <input type="hidden" id="HaveTrackingNum" />
                <input type="hidden" id="IsHideTrackingNumber"/>
                <input type="button" id="selectShippingMethod" class="btn" value="选择" />
            </td>
        </tr>
        @*<tr class="date_row_select">
            <td>
                <span class="info_box info_select">扫描方式:</span>
                @Html.DropDownList("scanTypeId", Model.ScanTypeModels, new { @onchange = "selectScanType();" })
            </td>
        </tr>*@
        @*        <tr class="date_row_select">
            <td>
                <span class="info_box info_select">是否敏感货:</span>
                <label class="vm">
                    <input type="radio" name="IsSensitive" value="false" checked="checked" />否</label>
                <label class="vm">
                    <input type="radio" name="IsSensitive" value="true" />是</label>
                @Html.DropDownList("sensitiveTypeId", Model.SensitiveTypes,new {@class="dn"})
            </td>
        </tr>*@
        <tr class="date_row_select">
            <td>
                <span class="info_box info_select">货物类型:</span>
                @Html.DropDownList("goodTypeId", Model.GoodsTypeModels)
            </td>
        </tr>
        
        
        
        <tr class="date_row_select">
            <td>
                <span class="info_box info_select">业务日期:</span>
                @Html.TextBoxFor(p => p.BusinessDate, new { @onclick = "WdatePicker({name:'simple', charset:'gb2312',dateFmt:'yyyy-MM-dd',isShowClear:false})", @Value = String.Format("{0:yyyy-MM-dd}", Model.BusinessDate), @class = "txt wdate", @style = "width:130px;" })
            </td>
        </tr>
        

        <tr class="date_row_select">
            <td>
                <div class="tl" style="margin-left: 60px;">
                    <input type="button" class="btn" value="下一步" id="btnNext" />
                </div>
            </td>
        </tr>
    </table>

    <div id="second" style="display: none;">
        <table class="data_table" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 14px;">
            <tr class="date_row_select">
                <td>
                    <span class="info_box info_select">客户编码:</span>
                    <span class="info_box" id="customerspan" style="font-weight: bold;"></span>
                </td>
                <td>
                    <span class="info_box info_select">运输方式:</span>
                    <span class="info_box" id="ShippingMethodspan" style="font-weight: bold;"></span>
                </td>
                <td>
                    <span class="info_box info_select">货物类型:</span>
                    <span class="info_box" id="goodTypespan" style="font-weight: bold;"></span>
                </td>
                <td>
                    <span class="info_box info_select">结算类型:</span>
                    <span class="info_box" id="PaymentName" style="font-weight: bold;"></span>
                </td>
                <td>
                    <label>
                        <input type="checkbox" id="aotuSubimt" value="true" />自动提交</label>
                    <span id="trackingNumberDiv">
                        <label>
                            <input type="radio" name="trackingNumberChk" value="0" checked="checked" />按订单号</label>
                        <label>
                            <input type="radio" name="trackingNumberChk" value="1" />按跟踪号</label>
                        <label>
                            <input type="radio" name="trackingNumberChk" value="2" />按单号和跟踪号</label></span>
                    @*                    <span id="printOrderDiv">
                        <input id="chkPrintWayBill" type="checkbox" /><label for="chkPrintWayBill">打印运单</label>
                        <label id="selectPrint" style="display: none">
                        </label>
                    </span>*@
                </td>
                <td>
                    <div class="tl">
                        <input type="button" class="btn" value="保存" id="btnSave" />
                        <a href="@Url.Action("FristInStorage")" class="btn_href" style="font-size: 12px;">返回</a>
                    </div>
                </td>
            </tr>
            
            <tr class="date_row_select">
                <td>
                   <span class="info_box info_select">业务日期:</span>
                   <span class="info_box" id="setBusinessDate" style="font-weight: bold;"></span>
                </td>
            </tr>
            
            
            
            
            

        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top" class="date_row_select">
                <td width="30%">
                    <form id="inStorageform">
                        <input type="hidden" id="CustomerType" name="CustomerType" />
                        <input type="hidden" id="CustomerID" class="txt txt_short" />
                        <input type="hidden" id="CustomerCodes" name="CustomerCode" />
                        <input type="hidden" id="GoodsTypeID" name="GoodsTypeID" />
                        <input type="hidden" id="ChkPrint" name="ChkPrint" value="false" />
                        <input type="hidden" id="ShippingMethodId" name="ShippingMethodId" />
                        <input type="hidden" id="PrintTemplateName" name="PrintTemplateName" />
                        <input type="hidden" id="GetBusinessDate" name="GetBusinessDate" />


                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr class="date_row_select" id="orderNumberTr">
                                <td>
                                    <span class="info_box info_select">单号:</span>
                                    <input type="text" id="WayBillNumber" name="WayBillNumber" class="txt txt_short"  />
                                </td>
                            </tr>
                            <tr class="date_row_select" id="trackingNumberTr" style="display: none">
                                <td>
                                    <span class="info_box info_select">跟踪号:</span>
                                    <input type="text" id="TrackingNumber" name="TrackingNumber" class="txt txt_short" maxlength="40" />
                                    <input type="hidden" id="OldTrackingNumber" name="OldTrackingNumber" />
                                    <input type="hidden" id="IsSingle" name="IsSingle" />
                                </td>
                            </tr>
                            <tr class="date_row_select">
                                <td>
                                    <span class="info_box info_select">重量(kg):</span>
                                    <input type="text" id="Weight" name="Weight" class="txt txt_short" maxlength="15" />
                                    <label>
                                        <input type="checkbox" id="cbxFixedWeight" value="true" class="vm" />固定重量</label>
                                    <label>
                                        <span id="tipWeight" style="color: red;">未连接</span>
                                    </label>
                                </td>
                            </tr>
                            <tr class="date_row_select">
                                <td id="tdVolume">
                                    <span class="info_box info_select">体积(cm):</span>
                                    <span>长:</span>
                                    <input type="text" id="Length" name="Length" class="txt" style="width: 30px;" maxlength="12" />
                                    <span>宽:</span>
                                    <input type="text" id="Width" name="Width" class="txt" style="width: 30px;" maxlength="12" />
                                    <span>高:</span>
                                    <input type="text" id="Height" name="Height" class="txt" style="width: 30px;" maxlength="12" />
                                </td>
                            </tr>
                            <tr class="date_row_select">
                                <td>
                                    <div class="tl" style="margin-left: 80px;">
                                        <input type="text" id="submitTxt" class="txt txt_short" />
                                        <input type="button" class="btn" value="提交" title="提交扫描运单" id="btnSubmit" />
                                    </div>
                                </td>
                            </tr>
                            <tr class="date_row_select">
                                <td>
                                    <span class="info_box info_select">发货国家:</span>
                                    <span id="CountryCodeSpan" style="color: red; font-size: 24px;"></span>
                                </td>
                            </tr>
                            <tr class="date_row_select">
                                <td>
                                    <span id="ErrorMessage" style="color: red; font-size: 24px; height: 90px; line-height: 24px;"></span>
                                </td>
                            </tr>
                        </table>

                    </form>
                </td>
                <td style="border-left: 1px solid  #CDCDCD;">
                    <span class="info_box" style="color: red;">已扫描运单:<span id="SacnedCount">0</span></span>
                    &nbsp;&nbsp; &nbsp; &nbsp;
                    <span class="info_box" style="color: red;">汇总重量:<span id="TotalWeight">0</span></span>

                    <div style="height: 500px; overflow-y: auto">

                      <table id="inStorageTable" class="data_table mt20" width="100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr class="data_row_two">
                                    <th>运单号
                                    </th>
                                    <th>跟踪号
                                    </th>
                                    <th>客户订单号
                                    </th>
                                    <th>运输方式
                                    </th>
                                    <th>结算重量(kg)
                                    </th>
                                    <th>发货国家
                                    </th>
                                    <th>操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <input type="text" id="searchWayBillNumber" class="txt txt_short" /></td>
                                    <td>
                                        <input type="text" id="searchTrackingNumber" class="txt txt_short" /></td>
                                    <td>
                                        <input type="text" id="searchOrderNumber" class="txt txt_short" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn" value="查询" onclick="SearchScaned();" /></td>
                                </tr>


                            </tbody>


                        </table>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <div id="page1" style="display: none">
    </div>
</div>
<script type="text/javascript">
    var validationScans = new Array();



    ////----打印控件 start---------
    //var LODOP; //声明为全局变量 
    //function prn_print() {
    //    CreateOneFormPage();
    //    LODOP.PRINT();
    //};
    //function prn_preview() {
    //    CreateOneFormPage();
    //    LODOP.PREVIEW();
    //};
    //function CreateOneFormPage() {
    //    LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
    //    LODOP.PRINT_INIT("打印TNT小包");
    //    LODOP.ADD_PRINT_HTM(10, 10, 350, 900, document.getElementById("page1").innerHTML);
    //};


    //function prn_print(html) {
    //    CreateOneFormPage(html);
    //    LODOP.PRINT();
    //};
    //function prn_preview() {
    //    CreateOneFormPage();
    //    LODOP.PREVIEW();
    //};
    //function CreateOneFormPage(html) {
    //    LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
    //    LODOP.PRINT_INIT("打印TNT小包");
    //    LODOP.ADD_PRINT_HTM(10, 10, "100%", "100%", html);
    //};
    //----打印控件 end---------

    ////判断打印插件是否安装
    //getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));


    var checkWaybill = false;
    var i = -1;
    function selectChange() {
        $("#PrintTemplateName").val($("#PrintTemplate").val());
    }

    $(function () {

        $("#chkPrintWayBill").click(function () {
            if ($("#chkPrintWayBill").attr("checked")) {
                $("#ChkPrint").val("true");
                $("#selectPrint").css("display", "block");
            } else {
                $("#ChkPrint").val("false");
                $("#selectPrint").css("display", "none");
            }
        });

        $("#PrintTemplate").change(function () {
            alert($("#PrintTemplate").val());
            $("#PrintTemplateName").val($("#PrintTemplate").val());
        });

        $("#selectShippingMethod").bind("click", function () {
            $("#showShippingMethodList").showWindow("@Url.Action("FilterShippingMethod", "WayBill")?customerId=" + $("#CustomerID").val() + "&customerTypeId=" + $("#CustomerType").val() + "&type=1", "选择运输方式");
            var parentWindow = $("#showShippingMethodList").parent("div");
            $(parentWindow).css("top", "0");
            $(parentWindow).animate({
                top: 120
            }, {
                duration: 1000,
                step: function (now, fx) {
                    $(".window").css("top", now);
                }
            });
            $("#showShippingMethodList").show();
        });

        $("#btnNext").click(function () {

            $("#CustomerCodes").val($("#CustomerCode").val());
            if ($("#customerID").val() == "") {
                alert("请选择用户！");
                return false;
            }
            if ($("#ShippingMethodId").val() == "") {
                alert("请选择运输方式！");
                return false;
            }
            var bResult = true;
            $.ajax({
                async: false,
                url: '@Url.Action("SaveEnableCredit")',
                data: {
                    customerCode: $("#CustomerCode").val(),
                    ShippingMethodId: $("#ShippingMethodId").val()
                },
                success: function(data, textStatus) {

                    //data.TemplateName 获取到值 并输出成select控件
                    var arr = data.TemplateName.split(',');
                    var select = " <select id=\"PrintTemplate\" onchange=\"selectChange()\"><option value=\"\">请选择</option>";
                    for (var i = 0; i < arr.length; i++) {
                        select += " <option value=\"" + arr[i] + "\">" + arr[i] + "</option>";
                    }
                    select += " </select>";
                    $("#selectPrint").html(select);
                    if (data.Type == 1) {
                        alert("该客户欠费太多暂停收货，请先充值！");
                        bResult = false;
                    } else if (data.Type == 2) {
                        alert("账户异常！");
                        bResult = false;
                    }
                }
            });
            if (!bResult)
                return bResult;

           
            $("#firsttable").hide();
            $("#customerspan").html($("#CustomerCode").val() + "--" + $("#nickName").val());
            $("#ShippingMethodspan").html($("#ShippingMethodName").html());
            $("#goodTypespan").html($("#goodTypeId option:selected").text());
            $("#GoodsTypeID").val($("#goodTypeId").val());
            $("#setBusinessDate").html($("#BusinessDate").val());
            $("#GetBusinessDate").val($("#BusinessDate").val());

            if ($("#WeightOrVolume").val() == "True" || $("#WeightOrVolume").val() == "true") {
                $("#tdVolume > input").attr('disabled', false);
            } else {
                $("#tdVolume > input").attr('disabled', true);
            }
            if ($("#HaveTrackingNum").val() == "True" || $("#HaveTrackingNum").val() == "true") {
                //$("#trackingNumberTr").show();
            } else {
                //$("#trackingNumberTr").hide();
                $("#trackingNumberDiv").hide();
            }
            $("#aotuSubimt").attr("checked", true);
            //$("#WayBillNumber").focus();
            $("#submitTxt").hide();
            $("#second").show();
            getfocus();

            return true;
        });
        
        //$("input[name = 'IsSensitive']").click(function () {
        //    if ($(this).attr("checked") == "checked" && $(this).val() == "true") {
        //        $("#sensitiveTypeId").show();
        //        $("#sensitiveTypeId").find("option[value='1']").attr("selected", true);
        //    } else {
        //        $("#sensitiveTypeId").hide();
        //        $("#sensitiveTypeId").find("option[selected='selected']").attr("selected", false);
        //    }
        //});

        $("#btnSubmit").click(function() {

            //检测单号是否通过检测
            if (!checkWaybill) {
                $("#ErrorMessage").html("请先扫描单号");
                return false;
            }

            var numberstr = "";

            //清空错误
            if ($.trim($("#ErrorMessage").text()) != "") {
                $("#ErrorMessage").html(" ");
            }


            if ($("#orderNumberTr").is(":hidden")) {
                if ($.trim($("#TrackingNumber").val()) == "") {
                    $("#TrackingNumber").focus();
                    alert("请输入跟踪号！");
                    PlayFaile();
                    return false;
                } else {
                    numberstr = $.trim($("#TrackingNumber").val());
                }
            } else {
                if ($.trim($("#WayBillNumber").val()) == "") {
                    $("#WayBillNumber").focus();
                    alert("请输入单号！");
                    PlayFaile();
                    return false;
                } else {
                    numberstr = $.trim($("#WayBillNumber").val());
                }
            }
            if ($("#Weight").val() == "") {
                $("#Weight").focus();
                alert("请输入重量！");
                PlayFaile();
                return false;
            }
            if (!checkOnWeight()) {
                PlayFaile();
                return false;
            }
            ;
            if ($("#WeightOrVolume").val() == "True") {
                var reg = /^\d+[\.]?\d{0,1}$/g;
                if (!(reg.test($("#Length").val()) && parseFloat($("#Length").val())>0)) {
                    $("#Length").val("");
                    $("#Length").focus();
                    alert("请正确输入长度,最多保留一位小数!");
                    PlayFaile();
                    return false;
                }
                reg = /^\d+[\.]?\d{0,1}$/g;
                if (!(reg.test($("#Width").val()) && parseFloat($("#Width").val())>0)) {
                    $("#Width").val("");
                    $("#Width").focus();
                    alert("请正确输入宽度,最多保留一位小数!");
                    PlayFaile();
                    return false;
                }
                reg = /^\d+[\.]?\d{0,1}$/g;
                if (!(reg.test($("#Height").val()) && parseFloat($("#Height").val())>0)) {
                    $("#Height").val("");
                    $("#Height").focus();
                    alert("请正确输入高度,最多保留一位小数!");
                    PlayFaile();
                    return false;
                }
            }
            if (!CheckOnExit(numberstr)) {
                PlayFaile();
                return false;
            }
            $("#btnSubmit").attr('disabled', true); //zhengsong
            if ($('input:radio[name="trackingNumberChk"]:checked').val() == "2") {
                if ($("#IsSingle").val() == "false") {
                    if (confirm("跟踪号已存在,是否转单?")) {

                    } else {
                        $("#btnSubmit").attr('disabled', false);
                        return false;
                    }
                } else if ($("#IsSingle").val() != "true" && $("#TrackingNumber").val() != "" && $("#OldTrackingNumber").val() != "" && $("#TrackingNumber").val() != $("#OldTrackingNumber").val()) {
                    if (confirm("跟踪号已存在,是否转单?")) {

                    } else {
                        $("#btnSubmit").attr('disabled', false);
                        return false;
                    }
                }
            }



            checkWaybill = false;

            validationScans.push(numberstr);
            $.ajax({
                type: "GET",
                url: "@Url.Action("CheckOnInStorage")",
                dataType: "json",
                data: $("#inStorageform").serialize() + "&diffid=" + new Date().getTime(),
                success: function(data) {
                    if (data.IsSuccess) {
                        if (CheckOnExit(data.WayBillNumber)) {
                            if (data.Weight > 0 && data.SettleWeight > 0) {
                                CreateTD(data);
                                PlaySuccess();
                                //计算运单总量
                                var setWeight = $("#TotalWeight");
                                var addWeight = Number($(setWeight).text()) + data.SettleWeight;
                                var getValue = addWeight.toFixed(2); //保留小数点2位
                                $(setWeight).text(getValue);

                            } else {
                                $("#ErrorMessage").html("运单号：" + data.WayBillNumber + " 重量为0!");
                                PlayFaile();
                            }
                        }
                    } else {
                        $("#ErrorMessage").html(data.Message);
                        PlayFaile();
                    }
                },
                complete: function() {
                    if (validationScans.length > 0) {
                        validationScans.splice(jQuery.inArray(numberstr, validationScans), 1);
                    }
                    var weight = $("#Weight").val();
                    $("#inStorageform input[type='text']").val("");
                    if ($("#cbxFixedWeight").attr("checked")) {
                        $("#Weight").val(weight);
                    }
                    $("#CountryCodeSpan").html("");
                    $("#btnSubmit").attr('disabled', false);
                    getfocus();
                    //$("#WayBillNumber").focus();
                }
            });

        });



        $("#WayBillNumber").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                ScanWayBillNumber();
            } else {
                checkWaybill = false;
            }
        });

        $("#TrackingNumber").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                var trackingNumber = $.trim($("#TrackingNumber").val());
                if (trackingNumber != "") {
                    SacnTrackingNumber();
                    if ($('input:radio[name="trackingNumberChk"]:checked').val() == "2") {
                        if ($("#OldTrackingNumber").val() != "" && $("#TrackingNumber").val() != "" && $("#TrackingNumber").val() != $("#OldTrackingNumber").val()) {
                            if (confirm("跟踪号已存在,是否转单？")) {
                                $("#IsSingle").val("true");
                            } else {
                                $("#IsSingle").val("false");
                            }
                        }
                    }
                } else {
                    $("#Weight").focus();
                }
            }
        });


        $("#Weight").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                if (!checkOnWeight()) {
                    return false;
                };

                if ($("#WeightOrVolume").val() == "True" || $("#WeightOrVolume").val() == "true") {
                    $("#Length").focus();
                } else {
                    if ($("#aotuSubimt").attr("checked")) {
                        $("#btnSubmit").trigger("click");
                        return false;
                    } else {
                        $("#submitTxt").focus();
                    }
                }
            }
        });
        $("#Length").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                $("#Width").focus();
            }
        });
        $("#Width").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                $("#Height").focus();
            }
        });
        $("#Height").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                if ($("#aotuSubimt").attr("checked")) {
                    $("#btnSubmit").trigger("click");
                    return false;
                } else {
                    $("#submitTxt").focus();
                }
            }
        });
        $("#aotuSubimt").click(function () {
            if ($(this).attr("checked")) {
                $("#submitTxt").hide();
            } else {
                $("#submitTxt").show();
            }
        });
        $('input:radio[name="trackingNumberChk"]').click(function () {
            if ($(this).val() == "1") {
                $("#trackingNumberTr").show();
                $("#orderNumberTr").hide();
                $("#inStorageform input[type='text']").val("");
            } else if ($(this).val() == "2") {
                $("#orderNumberTr").show();
                $("#trackingNumberTr").show();
                $("#inStorageform input[type='text']").val("");
            } else {
                if ($("#HaveTrackingNum").val() == "True") {
                    //$("#trackingNumberTr").show();
                }
                $("#trackingNumberTr").hide();
                $("#orderNumberTr").show();
                $("#inStorageform input[type='text']").val("");
            }
        });
        $("#submitTxt").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                if ($(this).val().toLowerCase() == "submit") {
                    $("#btnSubmit").trigger("click");
                    return false;
                }
            }
        });
        $("#btnSave").click(function () {
            if (validationScans.length > 0) {
                $("#ErrorMessage").html("运单号为：" + validationScans.join(",") + " 结算重量没有计算完成,导致包裹计件数不一致,请稍后保存！");

            } else {

                $("#btnSave").attr('disabled', true);
                //清空错误
                if ($.trim($("#ErrorMessage").text()) != "") {
                    $("#ErrorMessage").html(" ");
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CreateInStorage")",
                    dataType: "json",
                    data: $.merge($("#inStorageTable :hidden").serializeArray(), $("#inStorageform :hidden").serializeArray()),
                    success: function (data) {
                        if (data.Result) {
                            location.href = "@Url.Action("InStorageDetail")?InStorageId=" + data.Message + "&ErrorWayBillNumber=" + data.ErrorWayBillNumber;
                        } else {
                            $("#ErrorMessage").html(data.Message);
                        }
                    },
                    complete: function () {
                        $("#btnSave").attr('disabled', false);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });
    });




    /*javascript的浮点数减法结果会有误差
减法函数，用来得到精确的减法结果  yungchu*/

    function accSub(arg1, arg2) {
        var r1, r2, m, n;
        try {
            r1 = arg1.toString().split(".")[1].length;
        } catch (e) {
            r1 = 0;
        }
        try {
            r2 = arg2.toString().split(".")[1].length;
        } catch (e) {
            r2 = 0;
        }
        m = Math.pow(10, Math.max(r1, r2)); //动态控制精度长度
        n = (r1 >= r2) ? r1 : r2;
        return ((arg1 * m - arg2 * m) / m).toFixed(n);
    }

   
    function CreateTD(obj) {

        i++;
        
        SacnedCount(1);
        var trackingNumbers = $.trim($("#TrackingNumber").val()) == "" ? obj.TrackingNumber : $("#TrackingNumber").val();
        var inputHiddens = "<a href=\"javascript:cancelWayBill('" + obj.WayBillNumber + i + "');\" class=\"btn_href\">取消</a>"
            + "<input type=\"hidden\" value=\"" + obj.WayBillNumber + "\" name=\"[" + i + "].WayBillNumber\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Freight + "\" name=\"[" + i + "].Freight\"/>"
            + "<input type=\"hidden\" value=\"" + obj.FuelCharge + "\" name=\"[" + i + "].FuelCharge\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Register + "\" name=\"[" + i + "].Register\"/>"
            + "<input type=\"hidden\" value=\"" + obj.TariffPrepay + "\" name=\"[" + i + "].TariffPrepay\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Surcharge + "\" name=\"[" + i + "].Surcharge\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Length + "\" name=\"[" + i + "].Length\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Width + "\" name=\"[" + i + "].Width\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Height + "\" name=\"[" + i + "].Height\"/>"
            + "<input type=\"hidden\" value=\"" + trackingNumbers + "\" name=\"[" + i + "].TrackingNumber\"/>"
            + "<input type=\"hidden\" value=\"" + obj.TrackingNumber + "\" name=\"[" + i + "].OldTrackingNumber\"/>"
            + "<input type=\"hidden\" value=\"" + obj.SettleWeight + "\" name=\"[" + i + "].SettleWeight\"/>"
            + "<input type=\"hidden\" value=\"" + obj.Weight + "\" name=\"[" + i + "].Weight\"/>"
            + "<input type=\"hidden\" value=\"" + obj.CustomerOrderNumber + "\" name=\"[" + i + "].CustomerOrderNumber\"/>";

        var row = $('<tr class="data_row_dan" id="' + obj.WayBillNumber + i + '" name="trGroup"></tr>')
            .append($('<td></td>').text(obj ? obj.WayBillNumber : ''))
            .append($('<td></td>').text($.trim($("#TrackingNumber").val()) == "" ? obj.TrackingNumber : $("#TrackingNumber").val()))
            .append($('<td></td>').text(obj.CustomerOrderNumber ? obj.CustomerOrderNumber : ''))
            .append($('<td></td>').html($("#ShippingMethodspan").html()))
            .append($('<td></td>').text(obj.SettleWeight ? obj.SettleWeight : ''))
            .append($('<td></td>').text(obj ? obj.CountryCode : ''))
            .append($('<td></td>').html(inputHiddens));
        //.append($('<td></td>').html('<a href="javascript:cancelWayBill(\'' + obj.WayBillNumber + i + '\');" class="btn_href">取消</a>'))
        //.append($('<td></td>').html(inputHiddens));
        // $("#inStorageTable > tbody").append(row).;
        //数据往前插入
        $(row).insertAfter("#inStorageTable > tbody");
    }



    function CreateTD(obj) {

            i++;

            SacnedCount(1);
            var trackingNumbers = $.trim($("#TrackingNumber").val()) == "" ? obj.TrackingNumber : $("#TrackingNumber").val();
            var inputHiddens = "<a href=\"javascript:cancelWayBill('" + obj.WayBillNumber + i + "');\" class=\"btn_href\">取消</a>"
                + "<input type=\"hidden\" value=\"" + obj.WayBillNumber + "\" name=\"[" + i + "].WayBillNumber\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Freight + "\" name=\"[" + i + "].Freight\"/>"
                + "<input type=\"hidden\" value=\"" + obj.FuelCharge + "\" name=\"[" + i + "].FuelCharge\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Register + "\" name=\"[" + i + "].Register\"/>"
                + "<input type=\"hidden\" value=\"" + obj.TariffPrepay + "\" name=\"[" + i + "].TariffPrepay\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Surcharge + "\" name=\"[" + i + "].Surcharge\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Length + "\" name=\"[" + i + "].Length\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Width + "\" name=\"[" + i + "].Width\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Height + "\" name=\"[" + i + "].Height\"/>"
                + "<input type=\"hidden\" value=\"" + trackingNumbers + "\" name=\"[" + i + "].TrackingNumber\"/>"
                + "<input type=\"hidden\" value=\"" + obj.TrackingNumber + "\" name=\"[" + i + "].OldTrackingNumber\"/>"
                + "<input type=\"hidden\" value=\"" + obj.SettleWeight + "\" name=\"[" + i + "].SettleWeight\"/>"
                + "<input type=\"hidden\" value=\"" + obj.Weight + "\" name=\"[" + i + "].Weight\"/>"
                + "<input type=\"hidden\" value=\"" + obj.CustomerOrderNumber + "\" name=\"[" + i + "].CustomerOrderNumber\"/>";
            var row = $('<tr class="data_row_dan" id="' + obj.WayBillNumber + i + '" name="trGroup"></tr>')
                .append($('<td></td>').text(obj ? obj.WayBillNumber : ''))
                .append($('<td></td>').text($.trim($("#TrackingNumber").val()) == "" ? obj.TrackingNumber : $("#TrackingNumber").val()))
                .append($('<td></td>').text(obj.CustomerOrderNumber ? obj.CustomerOrderNumber : ''))
                .append($('<td></td>').html($("#ShippingMethodspan").html()))
                .append($('<td></td>').text(obj.SettleWeight ? obj.SettleWeight : ''))
                .append($('<td></td>').text(obj ? obj.CountryCode : ''))
                .append($('<td></td>').html(inputHiddens));
            //.append($('<td></td>').html('<a href="javascript:cancelWayBill(\'' + obj.WayBillNumber + i + '\');" class="btn_href">取消</a>'))
            //.append($('<td></td>').html(inputHiddens));
            // $("#inStorageTable > tbody").append(row).;
            //数据往前插入
            $(row).insertAfter("#inStorageTable > tbody");
        }

        function cancelWayBill(waybillnumber) {

            var tr = $("tr[id=" + waybillnumber + "]");


            //取消时总重量减少
            var setWeight = $("#TotalWeight");
            var getCurrentValue = tr.find('td:eq(4)').text();
            var addWeight = Number($(setWeight).text()) - Number(getCurrentValue);
            var getValue = addWeight.toFixed(2);//保留小数点一位
            $(setWeight).text(getValue);

            //$("tr[id=" + waybillnumber + "]").remove();
            tr.find('input[type="hidden"]').val("");
            tr.find('td').not(':last').text("");
            //tr.find(':not(td:last)').text("");
            //$("#" + waybillnumber + " :hidden").val("");
            //tr.find('td').text("");
            //$("#" + waybillnumber + " td").text("");
            $("#" + waybillnumber).hide();
            SacnedCount(0);



        }

        function SacnTrackingNumber() {
            var trackingNumber = $.trim($("#TrackingNumber").val());
            //if (trackingNumber == "") {
            //    alert("请输入跟踪号！");
            //    PlayFaile();
            //    return false;
            //}
            $.ajax({
                type: "GET",
                url: "@Url.Action("CheckOnTrackingNumber")",
            dataType: "json",
            data: "TrackingNumber=" + trackingNumber,
            success: function (data) {
                if (data.Result) {

                    weightfocus();
                } else {
                    if (data.Message.indexOf($("#WayBillNumber").val()) != -1) {
                        weightfocus();
                    } else {
                        alert("该跟踪号已经存在！");
                        $("#TrackingNumber").val("");
                        $("#TrackingNumber").focus();
                        PlayFaile();
                    }
                }
            }
        });
    }

    function ScanWayBillNumber() {

        checkWaybill = false;
        var numberstr = "";
        if ($("#orderNumberTr").is(":hidden")) {
            if ($.trim($("#TrackingNumber").val()) == "") {
                alert("请输入跟踪号！");
                PlayFaile();
                return false;
            } else {
                numberstr = $.trim($("#TrackingNumber").val());
            }
        } else {

            if ($.trim($("#WayBillNumber").val()) == "") {
                alert("请输入单号！");
                PlayFaile();
                return false;
            } else {
                numberstr = $.trim($("#WayBillNumber").val());
            }
        }
        $("#CountryCodeSpan").html("");
        $("#ErrorMessage").html("");
        if (!CheckOnExit(numberstr)) {
            return false;
        };
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckOnWayBill")",
            dataType: "json",
            data: $("#inStorageform").serialize(),
            success: function (data) {
                if (data.Result) {

                    checkWaybill = true;

                    $("#CountryCodeSpan").html(data.Message);

                    //获取预报重量
                    $("#wayBillInfoWeight").val(data.ErrorWayBillNumber);

                    if ($.trim(data.TrackingNumber) != "") {
                        //$("#TrackingNumber").val(data.TrackingNumber);
                        $("#OldTrackingNumber").val(data.TrackingNumber);
                        //$("#trackingNumberTr").css("display","block");
                        //$("#trackingNumberTr").hide();
                        //weightfocus();
                    } else {
                        $("#OldTrackingNumber").val("");
                    }
                    //else {
                    //if ($("#orderNumberTr").is(":hidden") == false && $("#trackingNumberTr").is(":hidden") == true) {
                    //    $("#trackingNumberTr").show();
                    //    $("#TrackingNumber").focus();
                    //} else {
                    //    if ($("#trackingNumberTr").is(":hidden") == true) {
                    //        $("#TrackingNumber").focus();
                    //    } else {
                    //        weightfocus();
                    //    }
                    //}
                    //}
                    if ($('input:radio[name="trackingNumberChk"]:checked').val() == "2") {
                        $("#TrackingNumber").focus();
                    } else {
                        weightfocus();
                    }
                    PlaySuccess2();
                } else {
                    clearNumber();
                    $("#ErrorMessage").html(data.Message);
                    PlayFaile();
                }
            }
        });
    }

    function CheckOnExit(number) {
        //alert($("#inStorageTable > tr > td input[value='" + number + "']").length);
        if ($("#inStorageTable > tr > td input[value='" + number + "']").length > 0) {
            $("#ErrorMessage").html("该单号已经扫描过，需要重新扫描，请先取消！");
            clearNumber();
            PlayFaile();
            return false;
        } else {
            return true;
        }
    }

    function checkOnWeight() {
        $("#Weight").val($.trim($("#Weight").val()));
        var reg = /^\d+[\.]?\d{0,3}$/g;
        if (!reg.test($("#Weight").val())) {
            $("#Weight").val("");
            $("#Weight").focus();
            alert("请正确输入重量,最多保留三位小数!");
            return false;
        } else {
            return true;
        }
    }

    function SacnedCount(obj) {
        var c = parseInt($("#SacnedCount").html());
        if (obj == 1) {
            c++;
        } else {
            c--;
        }
        $("#SacnedCount").html(c);
    }

    function PlaySuccess() {
        $('embed').remove();
        $('body').append('<embed src="/Css/Success.wav" autostart="true" hidden="true" loop="false">');
        //$('#SuccessAudio')[0].play(); //播放成功声音 
    }

    function PlaySuccess2() {
        $('embed').remove();
        $('body').append('<embed src="/Css/Success2.wav" autostart="true" hidden="true" loop="false">');
    }

    function PlayFaile() {
        $('embed').remove();
        $('body').append('<embed src="/Css/Faile.wav" autostart="true" hidden="true" loop="false">');
        //$('#FaileAudio')[0].play(); //播放失败声音 
    }


    function SearchScaned() {


        //数据组
        var arr = $("#inStorageTable tr[name='trGroup']");


        var wayBillNumber = $.trim($("#searchWayBillNumber").val());
        var searchTrackingNumber = $.trim($("#searchTrackingNumber").val());
        var searchOrderNumber = $.trim($("#searchOrderNumber").val());

        if (wayBillNumber != "") {
            $.each(arr, function () {
                var current = $(this).children("td:eq(0)").text();
                if (current != $.trim($("#searchWayBillNumber").val())) {
                    $(this).attr("hidden", "true");
                }
            });
        }
        if (searchTrackingNumber != "") {
            $.each(arr, function () {
                var current = $(this).children("td:eq(1)").text();
                if (current != $.trim($("#searchTrackingNumber").val())) {
                    $(this).attr("hidden", "true");
                }
            });
        }
        if (searchOrderNumber != "") {
            $.each(arr, function () {
                var current = $(this).children("td:eq(2)").text();
                if (current != $.trim($("#searchOrderNumber").val())) {
                    $(this).attr("hidden", "true");
                }
            });
        }


        //返回显示信息
        if (wayBillNumber == "" && searchTrackingNumber == "" && searchOrderNumber == "") {

            $.each(arr, function (i, item) {
                var currentTr = ("#inStorageTable tr[name='trGroup']:eq(" + i + ")");
                $(currentTr).attr("hidden", "false");
                $(currentTr).show();

            });
        }
    }


    function selectScanType() {
        switch ($("#scanTypeId").val()) {
            case "1": //跟踪号
                $('input:radio[name="trackingNumberChk"][value="1"]').attr("checked", true);
                $("#orderNumberTr").hide();
                $("#trackingNumberTr").show();
                break;
            default: //按打单号
                $('input:radio[name="trackingNumberChk"][value="0"]').attr("checked", true);
                $("#orderNumberTr").show();
                $("#trackingNumberTr").hide();
        }
    }

    function getfocus() {
        if ($("#orderNumberTr").is(":hidden")) {
            $("#TrackingNumber").focus();
        } else {
            $("#WayBillNumber").focus();
        }
    }

    function weightfocus() {

        //if ($("#cbxFixedWeight").attr("checked") && $("#Weight").val() != "") {

        if ($("#Weight").val() != "" && parseFloat($("#Weight").val()) != 0) {
            if ($("#WeightOrVolume").val() == "True") {
                $("#Length").focus();
            } else {
                if ($("#aotuSubimt").attr("checked")) {
                    $("#btnSubmit").trigger("click");
                    return false;
                } else {
                    $("#submitTxt").focus();
                }
            }
        } else {
            if (!isConnected) {
                $("#Weight").focus();
            }
        }
    }

    function clearNumber() {
        if ($("#orderNumberTr").is(":hidden")) {
            $("#TrackingNumber").val("");
            $("#TrackingNumber").focus();
        } else {
            $("#WayBillNumber").val("");
            $("#WayBillNumber").focus();
        }
    }

    //防止在加载页面是卡死
    setTimeout("ConnectWeigher()", 1 * 1000);

    //每10秒检测一次电子称
    setInterval("ConnectWeigher()", 10 * 1000);

    //是否正在连接
    var isConnecting = false;

    //是否已连接
    var isConnected = false;

    //检测电子称
    function ConnectWeigher() {

        if (isConnecting) return;
        isConnecting = true;

        var url;

        if (isConnected) {
            url = "http://127.0.0.1:49331/GetWeight.self?value=" + $("#Weight").val() + "&callback=?";
        } else {
            url = "http://127.0.0.1:49331/GetWeight.self?value=&callback=?";
        }

        $.getJSON(url, function (json) {
            if (!$("#cbxFixedWeight").attr("checked")) {
                $("#Weight").val(json);
                if ($("#WayBillNumber").val() != "" && checkWaybill) {
                    weightfocus();
                }
            }
        })
            .fail(function () {
                isConnecting = false;
                isConnected = false;
                //alert("连接到电子秤程序失败");
                $("#tipWeight").html("未连接");
                $("#tipWeight").css("color", "red");
                $("#Weight").attr('readonly', false);
            })
            .done(function () {
                $("#tipWeight").html("已连接");
                $("#tipWeight").css("color", "blue");
                $("#Weight").attr("readonly", true);
                isConnecting = false;
                isConnected = true;
                ConnectWeigher();
            });
    }

</script>
