<div class="bgf6">
            <div class="conStr">
                <div class="strIn" >
                    <div style="height:315px; position:relative">
                        <a href="http://www.google.com/"  target="_blank" class="par_google" title="google">
                            <img src="@Url.Content("~/images/index_15.jpg")" />
                        </a>
                        <a href="javascript:" target="_blank" class="par_partne"  title="partne">
                            <img src="@Url.Content("~/images/index_20.jpg")" />
                        </a>
                        <a href="http://www.paypal.com/" target="_blank" class="par_paypal">
                            <img src="@Url.Content("~/images/index_24.jpg")" />
                        </a>
                        <a href="http://www.EMS.com/" target="_blank" class="par_ems">
                            <img src="@Url.Content("~/images/index_30.jpg")" />
                        </a>
                        <a href="http://www.ebay.com/" target="_blank" class="par_ebaby">
                            <img src="@Url.Content("~/images/index_18.jpg")" />
                        </a>
                        <a href="http://www.dhl.com/" target="_blank" class="par_dhl">
                            <img src="@Url.Content("~/images/index_21.jpg")" />
                        </a>
                        <a href="javascript:" target="_blank" class="par_other">
                            <img src="@Url.Content("~/images/index_32.jpg")" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="oneSolid bddd"></div>
    <div class="oneSolid bd94"></div>
