
@using Castle.Components.DictionaryAdapter
@using LighTake.Infrastructure.Common.Configuration
@using LMS.FrontDesk.Controllers.HomeController.Models
@model LMS.FrontDesk.Controllers.HomeController.Models.HomeListModel

@{
    if (Model.CategoryInfo != null)
    {
        ViewBag.Title = string.IsNullOrWhiteSpace(Model.CategoryInfo.SeoTitle) ? "云途物流" : Model.CategoryInfo.SeoTitle;
    }
    else
    {
        ViewBag.Title = "云途物流";
    }
}
@section ExtraHeadContent {
    @{
        string SeoDescription = string.Empty;
        string SeoKeywords = string.Empty;
        SeoDescription = string.IsNullOrEmpty(Model.CategoryInfo.SeoDescription) ? "帮助中心" : Model.CategoryInfo.SeoDescription;
        SeoKeywords = string.IsNullOrEmpty(Model.CategoryInfo.SeoKeywords) ? "帮助中心" : Model.CategoryInfo.SeoKeywords;

    }
   

    <meta name="description" content="@SeoDescription">
    <meta name="Keywords" content="@SeoKeywords">
}


@*<div class="conStr">
  <div class="strIn">
  <div class="tr pt20 lh20">
                    <div class="bread_area">
                                <span class="vm">
                                    <a href="@Url.Action("Index","Home")" class="tdn" title="回到首页">首页</a>
                                    &gt;
                                    <span href="#" class="bread_on">
                                        帮助中心
                                    </span>
                                </span>
                                
                            </div>
                    
                </div>	  
  <div class="fix mt10 pl10">
        	<div class="l w220">
                <ul class="mul_box">
                    <li class="mul_tt">
                         帮助中心
                        <img src="@Url.Content("~/images/mul_ll_03.jpg")" style="position:absolute; right:-7px; top:0;"  />
                    </li>
                    
                            @foreach (var item in Model.ShowCategoryListModel.HelpCenterList)
                            {
                                string getClass = Model.GetId == item.CategoryID ? "mul_a on" : "mul_a";

                                <li class="rel">
                                    <a href="@Url.Action("HelpCenter", "Home", new { id = @item.CategoryID })" class="@getClass">
                                            @item.Name 
                                        <span class="mul_trigon">
                                        </span>
                                    </a>
                                </li>
                             
                            }
                            
                </ul>
            </div>
            <div class="cell pl20">
                <div class="mt20">
                	<div class="pack_area">
	                    <div class="pack_in">
	                        
	                        <div class="part">                           
	                            <p>
           							<strong class="co009">@Model.CategoryModel.Name</strong>
                               </p>
	                        </div>


	                        <div class="part">
	                            @if (!string.IsNullOrEmpty(Model.CategoryModel.Description))
	                            {
                                  @Html.Raw(Model.CategoryModel.Description)
	                            }
	                        </div>
     
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    

  </div>
</div>*@



<div class="conStr up_warp">
	<div class="strIn ">
    	<div class="fix mt30">
	        <div class="l w220 bgf mb30">
	            <div class="mul_Tt fw rel">
	                <span class="vm dib f44">
	                    H
	                </span>
	                <span class="vm dib f16 lh18">
	                    帮助中心
	                    <br/>
	                   elper
	                </span>
	                <div class="mul_positon">
	                </div>
	            </div>
	            <ul class="Fixed fix pb20 pt20">
                    
	                @foreach (var item in Model.ShowCategoryListModel.HelpCenterList)
	                {
	                    string classAttr = Model.GetId == item.CategoryID ? "r pct70 pl30 mul_on" : "r pct70 pl30";
                        
	                    <li>
	                        <a href="@Url.Action("HelpCenter", "Home", new { id = @item.CategoryID })" class="@classAttr">
	                            @item.Name
	                        </a>
	                    </li>
	                }

	            </ul>
	        </div>
            
	        <div class="cell">
            <div class="bdd bgf p20 mb30">
                <div class="bread_area tr">
                    <a href="@Url.Action("Index","Home")" class="A" title="回到首页">首页</a>
                    &gt;
                    <span href="#" class="bread_on">
                       帮助中心
                    </span>
                </div>
                <div class="mt10 mb30">
                    <img src="@Url.Content("~/images/banner/banner_07.png")"/>
                </div>
                <div class="pack_area">
                    <div class="pack_in">
                        <h2>	
                            @Model.CategoryInfo.Name
                        </h2>
      
                        <div class="part">
                             @if (!string.IsNullOrEmpty(Model.CategoryInfo.Description))
	                         {
                                  @Html.Raw(Model.CategoryInfo.Description)
	                         }
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
	    </div>
	</div>
</div>



