@model LMS.UserCenter.Controllers.BillingController.Models.CustomerModel
@{
    ViewBag.Title = "帐户充值";
}
<div id="showCustomerList" tabindex="200" style="overflow: scroll; display: none; position: relative">
</div>

<div class="bd_b bread_box">
    <a href="javascript:" class="icon-home bread_home"></a>
    <strong class="gtlt bread_gtlt">&gt;&gt;</strong>
    <a href="javascript:" class="bread_off">财务管理</a>
    <strong class="gtlt bread_gtlt">&gt;&gt;</strong>
    <a href="javascript:" class="bread_on">修改密码</a>
</div>

<div class="domebg">
    <form id="editfrom">
        <div class="mt20 l">
            <div class="ml20 mt20">
                <span class="info_box info_middle">客户代码:</span>
                <input type="text" id="CustomerCode" name="CustomerCode" readonly="readonly" class="txt txt_short" value="@Model.CustomerCode"/>
            </div>
            <div class="ml20 mt20">
                <span class="info_box info_middle">登录名:</span>
                <input type="text" id="AccountID" name="AccountID" readonly="readonly" class="txt txt_middle" value="@Model.AccountID"/>
            </div>
            <div class="ml20 mt20">
                <span class="info_box info_middle">旧密码:</span>
                <input type="password" id="AccountPassWord" name="AccountPassWord" class="txt txt_middle" />
                <input id="HDPassword" type="hidden" value="@Model.AccountPassWord" />
            </div>
            <div class="ml20 mt20">
                <span class="info_box info_middle">新密码:</span>
                <input type="password" id="NewPassWord" name="NewPassWord" class="txt txt_middle" />
            </div>
            <div class="ml20 mt20">
                <span class="info_box info_middle">确认密码:</span>
                <input type="password" id="SureNewPassWord" name="SureNewPassWord" class="txt txt_middle"/>
            </div>
            <div class="ml20 mt20">
                <span class="info_box info_middle"></span>
                <input type="button" class="btn btn_green" value="保存" id="Savebnt" onclick="Save();" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function Save() {
        if ($.trim($("#AccountPassWord").val()) == "") {
            alert("旧密码不能为空！");
            return false;
        } else {
            @*var f1 = function(arg, callback) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ComparePassword")",
                    async:false,
                    data: "AccountPassWord=" + arg,
                    success: function(data) {
                        callback(data);
                    }
                });
            };
            f1($.trim($("#AccountPassWord").val()), function (data) {
                if (data == "0") {
                    alert("旧密码输入不正确!");
                    return false;
                }
            });*@

            var isTrue=true;
            $.ajax({
                type: "POST",
                url: "@Url.Action("ComparePassword")",
                async: false,
                data: "AccountPassWord=" + $.trim($("#AccountPassWord").val()),
                success: function (data) {
                    if(data=="0") isTrue = false;
                }
            });
            if (isTrue == false) {
                alert("旧密码输入不正确!");
                return false;
            }
        }
        if ($.trim($("#NewPassWord").val()) == "") {
            alert("新密码不能为空！");
            return false;
        }
        if ($.trim($("#SureNewPassWord").val()) == "") {
            alert("确认密码不能为空！");
            return false;
        }
        if ($.trim($("#SureNewPassWord").val()) != $.trim($("#NewPassWord").val())) {
            alert("确认密码与新密码不相同!");
            return false;
        }
        $("#editfrom #Savebnt").attr('disabled', true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateCustomer")",
            dataType: "json",
            data: $("#editfrom").serialize(),
            success: function (data) {
                if (data == "1") {
                    $("input[type='text'][name!='CustomerCode'][name!='AccountID']").val("");
                    alert("修改成功！");
                } else if (data == "0") {
                    alert("修改失败!");
                } else {
                    alert(data.Message);
                }
            },
            error: function (data) {
                alert(data.responseText);
            },
            complete: function (data) {
                $("#editfrom #Savebnt").attr('disabled', false);
            }
        });
    }
</script>