@model LMS.FrontDesk.Controllers.NewController.Models.NewListModel
@{
    if(Model.ArticleModel !=null)
    {
        ViewBag.Title = string.IsNullOrWhiteSpace(Model.ArticleModel.SeoTitle) ? "新闻详情" : Model.ArticleModel.SeoTitle;
    }
    else
    {
        ViewBag.Title = "新闻详情";
    }
}
@section ExtraHeadContent {
    <meta name="description" content="@Model.ArticleModel.SeoDescription">
    <meta name="Keywords" content="@Model.ArticleModel.SeoKeywords">
}
<div class="banner_in bgc33">
    <div class="constr">
        <div class="constr_in">
            <img src="@Url.Content(string.IsNullOrWhiteSpace(Model.CategoryModel.Pic)?"~/images/banner/banner_in_07.jpg":Model.PicPath+Model.CategoryModel.Pic)" width="980" style="height: 308px">
        </div>
    </div>
</div>
<div class="constr">
    <div class="constr_in">
        <div class="min_minBox">
            <div class="pt20 pb20">
                <div class="bread_area mb15">
                    <a href="#" class="u u12 mr5" title="回到首页"></a>
                    <span class="vm">您当前所在的位置：
                        <a href="@Url.Action("Index", "Home")" class="tdn" title="回到首页">首页</a>
                        --&gt;
                        <span href="#" class="bread_on">新闻详情
                        </span>
                    </span>

                </div>
                @{
                    int count = (int)Math.Ceiling((double)Model.CategoryModels.Count / 6);
                }
                @for (int x = 1; x <= count; x++)
                {
                    <div class="twoSolid"></div>
                    <div class="tj mt-7 inline_box">
                        @if (x == count)
                        {
                            for (int i = 0; i < (6 * count) - Model.CategoryModels.Count; i++)
                            {
                            <span class="dib_any inline_six"></span>
                            }
                        }

                        @foreach (var row in Model.CategoryModels.Skip((x - 1) * 6).Take(6).ToList())
                        {
                            string css = Model.CategoryId == row.CategoryID ? "menu_in_on" : "menu_in_off";
                            <a href="@Url.Action("NewList", "New", new {CategoryID = @row.CategoryID })" class="@css" title="@row.Name">
                                <span class="u u11 mr50"></span>
                                <span class="db">
                                    <span class="r">
                                        <span class="dib_tt_two">
                                            @row.Name
                                        </span>
                                        <span class="f12 lsp-1">
                                            @if (row.EnglishName != null)
                                            {
                                                @row.EnglishName.Trim().Substring(1, row.EnglishName.Length - 1)
                                            }
                                        </span>
                                    </span>
                                    <span class="dib_tt_one">
                                        @if (row.EnglishName != null)
                                        {
                                            @row.EnglishName.Trim().Substring(0, 1)
                                        }
                                    </span></span></a>
                        }

                        <span class="dib_full"></span>
                    </div>
                }
                <div class="mt50">
                    <div class="coe5 f16 tc">
                        @Model.ArticleModel.Title

                    </div>
                    <div class="tr mt10">
                        <span class="mr50">来源： @Model.ArticleModel.Source
                        </span>
                        <span>发布时间：
                        
                           @if (Model.ArticleModel.CreatedOn.HasValue)
                           {
                               @Model.ArticleModel.CreatedOn.Value.ToString("yyyy-MM-dd")
                           }

                        </span>
                    </div>
                    <div class="oneSolid bdc4 mt10"></div>
                    <p class="mt30 ti">
                        @Html.Raw(Model.ArticleModel.Detail)
                    </p>
                    <div class="oneSolid bdc4 mt20"></div>
                    <div class="tr mt20 mb40">
                        @* @if ( = null)
                        {
                            <input class="btn btn_greent mr20" disabled="disabled" value="上一篇"/>
                        }*@
                        @{
                            if (Model.ArticleUpPageId != -999)
                            {
                            <a href="@Url.Action("NewDetailed", "New", new { id = Model.ArticleUpPageId })" class="btn btn_greent mr20" id="top">上一篇
                            </a>
                            }
                            if (Model.ArticleDownPageId != -999)
                            {
                            <a href="@Url.Action("NewDetailed", "New", new { id = Model.ArticleDownPageId })" class="btn btn_greent mr20" id="bottom">下一篇
                            </a>
                       
                            }
                              
                              
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
