
@model LMS.FrontDesk.Controllers.UserController.Models.AddCustomerModel

@{
    ViewBag.Title = "注册用户";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">



    $(function () {

        //注册按钮的禁用
        //$('.Agreement').click();
        $('.atb_active').click(function () {
            var t = $(this);
            var warp = $('.' + $(this).attr('data'));
            $('.atb_active').removeClass('res_w_on').addClass('res_w');
            $(this).addClass('res_w_on');
            $('.atb_box').hide();
            warp.show();
        });


        $("#Addbtn").attr("disabled", "disabled");
        $("#Addbtn").addClass("u u18");
        $("#Checked").change(function () {
            if ($("#Checked").get(0).checked) {
                $("#Addbtn").removeClass("u u18");
                $("#Addbtn").addClass("u u15");
                $("#Addbtn").attr("disabled", false);
            } else {
                $("#Addbtn").removeClass("u u15");
                $("#Addbtn").addClass("u u18");
                $("#Addbtn").attr("disabled", true);
            }
        });



        //登录
        $("#Logon").click(function () {

            debugger;
            var flag = 0;//正确
            if ($.trim($("#userNameInfo").val()) == "")
            {

                $("#userNameError").css("display", "block");
                $("#userNameError").css("colr", "red");
                $("#userNameError").html("账户不能为空");
                flag = 1;
            }

            if ($.trim($("#userPwdInfo").val()) == "")
            {
                $("#userPwdError").css("display", "block");
                $("#userPwdError").css("color", "red");
                $("#userPwdError").val("密码不能为空！");
                flag = 1;
            }
            
            if (flag == 1) {
                return false;
            }

            //验证
            $.ajax({
                type: "post",
                url: "@Url.Action("ValidateLogOn","Home")",
                data: { userName: $("#userNameInfo").val(), pwd: $("#userPwdInfo").val(), remember: false },
                success: function(msg) {
                    if (msg.Result) {
                        window.location.href = "@Url.Action("Index","Home")";
                    } else {

                        $("#userPwdInfo").val("");
                        $("#userNameInfo").val("");
                        
                        $("#errorTotal").css("display", "block");
                        $("#errorTotal").val(msg.Message);

                    }
                }
            });

        });
        

        $("#LogonForm input").keypress(function (event) {
            var key = event.which;
            if (key == 13) {
                $("[id$=Logon]").click(); //支持firefox,IE武校
                //$('input:last').focus();
                $("[id$=Logon]").focus();  //支持IE，firefox无效。

                //以上两句实现既支持IE也支持 firefox
            }
        });





});

//调用Ajax判断用户名是否存在
function AddUser() {
    var mysubmit = true;
    var accountId = $("#accountid").val();
    $.ajax({
        async: false,
        url: '@Url.Action("SelectAccountId", "User")',
            data: {
                AccountId: accountId
            },
            success: function (data, textStatus) {
                if (data.result) {
                    $("#user_tip").css("display", "block");
                    $("#user_tip").html("已经存在相同用户名！");
                    mysubmit = false;
                } else {

                    return false;
                }
            }
        });
        return mysubmit;
    }


</script>


@*@using (Html.BeginForm())
{
  <div class="bgf6">
  <div class="conStr">
    <div class="strIn" >
      <div class="shadow">
        <div class="fix ">
          <div class="res_pd bgwh">
          		<h3 class="IIItt">会员注册</h3>
                <div class="mt20 mb15">
                    &emsp;<span class="coff4 mr5">*</span>用户名
                                                                     
                    @Html.TextBoxFor(p => p.AccountID, new { @class = "ist_Il ist_h",id="accountid"})
                    <span class="ml10 dib0 coff4">
                           @Html.ValidationMessageFor(p=>p.AccountID,"",new{@style="color:red",id="user_tip"})
                    </span>
                </div>
                <div class="mb15">
                    &emsp;&emsp;<span class="coff4 mr5">*</span>密码

                    @Html.PasswordFor(p => p.Password, new { @class = "ist_Il ist_h"})
                    <span class="ml10 dib0 coff4">
                            @Html.ValidationMessageFor(p=>p.Password,"",new{@style="color:red"})
                    </span>
                </div>
                <div class="mb15">
                	<span class="coff4 mr5">*</span>确认密码

                       @Html.PasswordFor(p => p.NextPassword, new { @class = "ist_Il ist_h"})
                      <span class="ml10 dib0 coff4">
                             @Html.ValidationMessageFor(p=>p.NextPassword,"",new{@style="color:red"})
                      </span>
                </div>
                <div class="mb15">
                	&emsp;&emsp;<span class="coff4 mr5">*</span>手机

                                                          
                     @Html.TextBoxFor(p => p.Tele, new { @class = "ist_Il ist_h"})
                       <span class="ml10 dib0 coff4">
                             @Html.ValidationMessageFor(m=>m.Tele,"",new{@style="color:red"})
                       </span>
                </div>
              <div class="mb15">
                  &emsp;<span class="coff4 mr5">*</span>联系人

                  @Html.TextBoxFor(p => p.LinkMan, new { @class = "ist_Il ist_h"})
                  <span class="ml10 dib0 coff4">
                      @Html.ValidationMessageFor(p=>p.LinkMan,"",new{@style="color:red"})
                  </span>
              </div>
              
               <div class="mb15">
                  &emsp;<span class="coff4 mr5">*</span>客户名称

                  @Html.TextBoxFor(p => p.Name, new { @class = "ist_Il ist_h"})
                  <span class="ml10 dib0 coff4">
                      @Html.ValidationMessageFor(p=>p.Name,"",new{@style="color:red"})
                  </span>
              </div>
              

              <div class="mb15">
                	&emsp;&ensp;<span class="coff4 mr5">*</span>Email
                    
                      @Html.TextBoxFor(p => p.Email, new { @class = "ist_Il ist_h"})
                      <span class="ml10 dib0 coff4">
                             @Html.ValidationMessageFor(p=>p.Email,"",new{@style="color:red"})
                      </span>

                </div>
   
              <div class="mb15">
                  <span class="coff4 mr5">*</span>详细地址
                  <span class="vt dib">

                      @Html.TextAreaFor(p => p.Address, new { @class = "textarea w300 p5", rows="8"})
                      <span class="ml10 dib0 coff4">
                          @Html.ValidationMessageFor(p=>p.Address,"",new{@style="color:red"})
                      </span>
                  </span>
              </div>


                <div class="mb15">
                	&emsp;&emsp;&emsp;&emsp;&emsp;<label for="res_check" class="cpi vm">同意云途物流条款内容</label>
                    <input type="checkbox" class="vm" id="Checked"><!--res_check-->
                </div>
                <div class="mb15">
                	&emsp;&emsp;&emsp;&emsp;&emsp;
                    <textarea class="textarea pct70 p10" rows="8">
                    	本服务条款自寄件人签署之日订立，订约双方为云途物流及寄件人，订约双方均须遵守本服务条款。本条款所称"货件"，是指已抵达我公司或由我公司工作人员签收的货物，每一货件运输都将适用本条款中关于责任限制的规定。如寄件人要求更大程度的保护，可另行购买保险。
一、限寄和禁寄的货件
寄件人同意其交运的货件都是可运输的。以下货件不予收寄：
1）属于国际航空货运协会（IATA）、国际民用航空组织（ICAO）及其他相关政府部门或组织所规定的有害物品、危险物品，以及属于禁运或限运的物品 （限制投寄的物品：电池、含电池的物品、紧急用于医疗或科研的药品、体育用的枪支、活动物、未超标准的磁性物品、易腐品、放射性物品、疫苗、私章或公章 等）。

                    </textarea>
                </div>
                <div class="mb15">
                    &emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" id="Addbtn" value=""  class="btn_y"  onclick="return AddUser();"/>
                    	                          
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}*@


<style type="text/css">
    .res_mg{margin:100px auto;}
</style>




 <div class="conStr up_warp">
	<div class="strIn fix mt30">
		<div class="pct60 res_mg bgf shadow">
		    <div class="fix">
		        <div class="l pct50">
		            <a class="res_w_on tdn atb_active" href="javascript:" data="res_tabBox1">
		                新用户注册
		            </a>
		        </div>
		        <div class="l pct50">
		            <a class="res_w tdn atb_active" href="javascript:" data="res_tabBox2">
		                登陆云途物流
		            </a>
		        </div>
		    </div>
            

		    <div class="p30">
		        @using (Html.BeginForm())
                {
                  <!--注册-->
		          <div class="res_tabBox1 atb_box">
		            <div class="mb20">
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;*用户名</strong>
		                @Html.TextBoxFor(p => p.AccountID, new { @class = "ist_s ist_Il ist_f", id = "accountid" })
		                @Html.ValidationMessageFor(p => p.AccountID, "", new { @style = "color:red", id = "user_tip" })
		            </div>
		            <div class="mb20">
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;&emsp;*密码</strong>
		                @Html.PasswordFor(p => p.Password, new { @class = "ist_s ist_Il ist_f" })
		                @Html.ValidationMessageFor(p => p.Password, "", new { @style = "color:red" })
 
		            </div>
		              <div class="mb20">
		                  <strong class="fw">&emsp;&emsp;&emsp;*确认密码</strong>
		                  @Html.PasswordFor(p => p.NextPassword, new { @class = "ist_s ist_Il ist_f" })
		                  @Html.ValidationMessageFor(p => p.NextPassword, "", new { @style = "color:red" })

		              </div>
                    
                      

                      <div class="mb20">
		                  <strong class="fw">&emsp;&emsp;&emsp;*客户名称</strong>
		                   @Html.TextBoxFor(p => p.Name, new { @class = "ist_s ist_Il ist_f"})
		                   @Html.ValidationMessageFor(p=>p.Name,"",new{@style="color:red"})

		              </div>
                      

		              <div class="mb20">
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;*手机号</strong>
		                @Html.TextBoxFor(p => p.Mobile, new { @class = "ist_s ist_Il ist_f" })
		                @Html.ValidationMessageFor(m => m.Mobile, "", new { @style = "color:red" })
      
		            </div>

                    
		            <div class="mb20">
		                &emsp;&emsp;&emsp;&emsp;&emsp;<label for="res_check" class="cpi vm">同意云途物流条款内容</label>
		                <input type="checkbox" class="vm" id="Checked"><!--res_check-->
		            </div>

		            <div class="mb20">
		                &emsp;&emsp;&emsp;&emsp;&emsp;
		                <textarea class="textarea pct70 p10" rows="8">
       本服务条款自寄件人签署之日订立，订约双方为云途物流及寄件人，订约双方均须遵守本服务条款。本条款所称"货件"，是指已抵达我公司或由我公司工作人员签收的货物，每一货件运输都将适用本条款中关于责任限制的规定。如寄件人要求更大程度的保护，可另行购买保险。
一、限寄和禁寄的货件
寄件人同意其交运的货件都是可运输的。以下货件不予收寄：
1）属于国际航空货运协会（IATA）、国际民用航空组织（ICAO）及其他相关政府部门或组织所规定的有害物品、危险物品，以及属于禁运或限运的物品 （限制投寄的物品：电池、含电池的物品、紧急用于医疗或科研的药品、体育用的枪支、活动物、未超标准的磁性物品、易腐品、放射性物品、疫苗、私章或公章 等）。

                        </textarea>
		            </div>
                    

		            <div class="mb20">
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong>
        
                        
		                <input type="submit" class="btn btn_lagre w200"  id="Addbtn" value=" " onclick="return AddUser();"/>
                        
   
		            </div>
		        </div>
                
                }
                
                

		        <!--登录-->
   
		        <div class="res_tabBox2 dn atb_box" id="LogonForm">
		            <div class="mb20">
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;&emsp;账户</strong>
		                <input type="text" class="ist_s ist_Il ist_f" id="userNameInfo">
		                <span style="display:none" id="userNameError"></span>
		            </div>
		            <div class="mb20">
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;&emsp;密码</strong>
		                <input  type="password" class="ist_s ist_Il ist_f" id="userPwdInfo" >
                        <span style="display:none" id="userPwdError"></span>
		            </div>
		            <div class="mb20">
		                <span style="display:none; color:red" id="errorTotal"></span>
		                <strong class="fw">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong>
		                <button class="btn btn_lagre w200" id="Logon">
		                    登&nbsp;&nbsp;录
		                </button>
		            </div>
		        </div>
                
                
                


		    </div>
        </div>
	</div>
</div>



